/*lg*/@media(max-width: 1199px){

}

/*md*/@media(max-width: 991px){

}

/*sm*/@media(max-width: 767px){
		.banner-content {
   text-align: center;
}
   .feature-content {
   margin-bottom: 20px;
}
.course {
     margin-bottom: 20px;
}
}
}